/* src/Bottom.module.css */
.bottom {
    margin-top: 20px; /* Add some spacing above the bottom component */
    padding: 10px;
    text-align: center; /* Center the text */
    font-size: 1.2rem; /* Adjust font size */
    color: #666; /* Change text color */
    /* border-top: 2px solid #ccc; */
  }
  