.spinWheelContainer {
  text-align: center;
  margin-top: 10px;
  position: relative; 
}
  
.wheelContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 20px; */
}
  
/* src/SpinWheel.module.css */
.spinButton {
  background-color: #539fc2; /* Green background */
  border: none; /* Remove border */
  color: white; /* White text color */
  padding: 3px 6px; 
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline from text */
  font-size: 5px;
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  /* transition: background-color 0.3s, transform 0.3s;  */
}

.spinButton:hover {
  background-color: #0685ee; /* Darker green on hover */
  /* transform: translateY(-2px);  */
}

.spinButton:disabled {
  background-color: #dc2810; /* Gray background when disabled */
  cursor: not-allowed; /* Not-allowed cursor */
}

  
.loader {
  justify-content: center;
  align-items: center;
}

/* Image wrapper for vertical rotation */
.imageWrapper {
  font-size: 3rem; /* This can be kept as is, or adjusted based on your layout needs */
  display: inline-flex; /* Use inline-flex for better alignment of contents */
  /* margin-top: 10px; */
  margin: 10px 5px;

  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  padding: 0; /* Remove padding to allow the image to fill the area */
  border: 2px solid #ccc; /* Maintain the border */
  width: 100px;
  height: 100px;
  border-radius: 10px; /* Keep rounded corners */
  background-color: #f2f2f2; /* Keep background color */
  overflow: hidden; /* Prevent any overflow from child elements */
  transition: transform 0.3s ease; /* Smooth transition for hover effects */
}

/* Loader image styles */
.loaderImage {
  width: 160px; 
  height: 160px; 
  animation: verticalRotate 2s linear infinite; /* Rotate each image */
  animation-play-state: paused;
}

/* Vertical flip animation around Y-axis */
@keyframes verticalRotate {
  0% {
    transform: rotateX(0deg) ;
    transform-origin: center center; 
  }
  100% {
    transform: rotateX(360deg)  ;
    transform-origin: center center; 

  }
}



.spinText {
  font-size: 20px;
  font-weight: bold;
  color: #ecf2f596;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
}

.spinTextLoading {
  font-size: 18px;
  font-weight: bold;
  color: #ecf2f596;
  /* text-transform: uppercase; */
  letter-spacing: 1px;
  font-family: 'Arial', sans-serif;
}

.spin-text:hover {
  color: #45a049;
}

.buttonContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.resultsContainer {
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  /* margin-left: 150px; */

}


.verticalLine {
  width: 2px;
  background-color: #ccc;
  margin-top: 50px;
  height: 100px;
}
