.spinWheelContainer {
  text-align: center;
}
  
.wheelContainer {
  display: flex;
  justify-content: center;
}
  
/* src/SpinWheel.module.css */
.spinButton {
  background-color: #4f5eb1; /* Green background */
  border: none; /* Remove border */
  color: white; /* White text color */
  padding: 10px 20px; 
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline from text */
  display: inline-block; /* Display as inline-block */
  font-size: 1.2rem; /* Increase font size */
  margin: 10px 0; /* Margin around the button */
  cursor: pointer; /* Pointer cursor on hover */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  transition: background-color 0.3s, transform 0.3s; /* Smooth transition */
}

.spinButton:hover {
  background-color: #2f0fae; /* Darker green on hover */
  transform: translateY(-2px); /* Slightly raise the button */
}

.spinButton:disabled {
  background-color: #ccc; /* Gray background when disabled */
  cursor: not-allowed; /* Not-allowed cursor */
}

  
/* .loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  margin: 0 auto 20px; 
}
  
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
.loader {
  display: flex; /* Use flex to align images */
  justify-content: center;
  align-items: center;
  height: 160px; /* Adjust this as needed */
}

/* Image wrapper for vertical rotation */
.imageWrapper {
  perspective: 1000px; /* Add perspective to create a 3D effect */
  height: 160px; /* Adjust to match your loader height */
  width: 160px; /* Match this to your image width */
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;

}

/* Loader image styles */
.loaderImage {
  width: 160px; /* Adjust the size of images */
  height: 160px; /* Adjust to create a taller image for vertical rotation */
  animation: verticalRotate 2s linear infinite; /* Rotate each image */
  animation-play-state: paused;
}

/* Vertical flip animation around Y-axis */
@keyframes verticalRotate {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(360deg);
  }
}



.spinText {
  font-size: 24px;
  font-weight: bold;
  color: #ecf2f596;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.spin-text:hover {
  color: #45a049;
}